EXPO_PUBLIC_API_URL=https://api.norea.fit/api
EXPO_PUBLIC_PRIVACY_URL=https://norea.fit/privacy
EXPO_PUBLIC_TERMS_URL=https://norea.fit/terms
EXPO_PUBLIC_SUPPORT_URL=https://norea.fit/support
EXPO_PUBLIC_WEBSITE_URL=https://norea.fit
